name: ci

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.21

    - name: Build
      run: make install

    ## Temporarily disabled
    # - name: Run golangci-lint
    #   uses: golangci/golangci-lint-action@v3.1.0

    - name: Test
      run: go test $(go list ./... | grep -v 'app/upgrades/v5.1') -coverprofile=coverage.txt -covermode=atomic

    - name: codecov-action
      uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        files: ./coverage.txt
        fail_ci_if_error: false # optional (default = false)
  
